@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-display: swap;
    outline: none;
}

* small {
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: #eee;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    #pages {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        transition: 0.3s;
    }
}


@import 'messages.scss';

@import 'loader';
@import 'mobBar';
@import 'topbar';
@import 'sidebar';
@import 'profiles';
@import 'footer';