#loader {
    opacity: 1;
    background: #eee;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include flex-center;
    z-index: 4;
    transition: 0.3s;
    .spinner {
        border: 10px solid #fcfcfc;
        border-radius: 50%;
        border-top: 10px solid #f44336;
        width: 80px;
        height: 80px;
        animation: spin 1s linear infinite;
        @include flex-center;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}