#profiles {
    position: absolute;
    padding: 0px 10px 0px;
    margin-top: 10px;
    width: calc(100% - 60px);
    left: 60px;
    top: 80px;
    column-gap: 2px;
    column-count: 10;

    .profile {
        position: relative;
        object-fit: contain;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 2px 5px #888;
        margin: 0 10px 20px;
        max-width: calc(100% - 20px);
        width: 100%;
        cursor: pointer;

        .avatar {
            object-fit: cover;
            max-height: 150px;
            height: 100%;
            width: auto;
        }

        .userData {
            padding: 20px 10px;
            background: #fff;
            z-index: 1;
            position: relative;
            .userName {
                font-size: 24px;
                color: #333;
                word-wrap: break-word;

                .age {
                    color: #555;
                }
            }

            .location {
                color: #555;
                word-wrap: break-word;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                background: #fff;
                border: 2px solid #ccc;
                border-radius: 50%;
                z-index: 2;
                box-shadow: 0 0 0 3px #fff;
            }
        }
        .online {
            &::before {
                border: 2px solid lime;
            }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            padding: 20px;
            width: 60%;
            border-radius: 50%;
            box-shadow: 0 5px 20px #555;
        }
    }
}


@media (max-width: 1500px) {
    #profiles {
        column-count: 8;
    }
}

@media (max-width: 1200px) {
    #profiles {
        column-count: 6;
    }
}

@media (max-width: 992px) {
    #profiles {
        column-count: 5;
    }
}

@media (max-width: 768px) {
    #profiles {
        column-count: 4;
        transition: 0.3s;
        width: 100%;
        left: 0;
        top: 40px;
    }
}

@media (max-width: 640px) {
    #profiles {
        column-count: 3;
    }
}

@media (max-width: 480px) {
    #profiles {
        column-count: 2;
    }
}

@media (max-width: 360px) {
    #profiles {
        column-count: 1;
    }
}